.MenuWrap {
 background-color: indigo;
 font-family: 'Oswald', sans-serif;
 font-size: 1rem;
 min-height: 2.75rem;
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 padding: 0 1rem;
}
.ListItem,
.LastItem {
 color: #ebebeb;
 text-decoration: none;
}
.ListItem {
 margin-right: 1rem;
}
.LastItem {
 margin-right: auto;
}
section{
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
}
nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}
@media(max-width:650px){
  flex-wrap:wrap;
}